body {
    background: black;
    /*background: #ff0000;*/
    overflow: hidden;
}

#sky {
    width: 100vw;
    height: 100vh;
    background: black;
    /*background: #ff8f00;*/
    /*background: black;*/
}

.cloud {
    position: absolute;
    background-size: 25px;
}

a{
    position: fixed;
    right: 0;
    bottom: 0;
    color: red;
    font-family: pt sans, Helvetica, Arial, sans-serif;
}